.App {
  text-align: center;
}

.Main {
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: '50%';
  justify-content: space-evenly;
}

.ProjectTile {
  width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}